
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml

###> ignore for security ###
/src/Class/Mail.php
/src/Controller/StripeController.php