{% extends 'base.html.twig' %}

{% block title %}Mot de Passe Oublié • La Garde Robe{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="connexion section">

        <h1 class="section__title">Réinitialiser votre mot de passe</h1>

        <div class="connexion__container grid">

            <form method="post">

                <label for="inputEmail"> </label>
                <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Votre adresse email" required autofocus>

                <div class="connexion__button">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="connexion__button-connexion">Réinitialiser</button>
                </div>

            </form>
            <span class="section__subtitle">Ou vous pouvez vous <a href="{{ path('app_login') }}" class="connexion__reset"><b>connecter</b></a> si vous vous souvenez de votre mot de passe.</span>

        </div>

    </section>


{% endblock %}
